.Lists{
    grid-area: main;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.Lists li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    width: auto;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    border: 0.185rem solid transparent;
    border-radius: 1rem;
}

.Lists li a:hover {
    background-color: #353535;
}