.List{
    grid-area: main;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
.List nav a {
    text-decoration: none;
    display: inline-block;
    color: #888686;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 1rem;
    padding: 10px 25px;
    border-radius: 10px;
}

.List nav a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}
.List ul{
    background-color: #222121;
    margin: 0;
    padding: 0.3rem;
    gap: 0;
}
.List ul li{
    position: relative;
    background: #353535;
    text-align: left;
    user-select: none;
}
.List ul li:nth-child(odd){
    background: #2b2a2a;
}
.List ul a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 0.2rem 3rem;
    display: inline-block;
    font-size: 1.35rem;
    color: #ffffff;

}
.List ul li.checked {
  background: #08c988c7;
  text-decoration: line-through;
}
.List ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #000000;
  border-style: solid;
  border-width: 0 5px 5px 0;
  top: 0.35rem;
  left: 1rem;
  transform: rotate(45deg);
  height: 1rem;
  width: 0.5rem;
}