.Lists{
    grid-area: main;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.Lists li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    width: auto;
    display: inline-block;
    text-align: center;
    border: 0.185rem solid transparent;
    border-radius: 1rem;
    transition: 0.3s ease;
}
.container.dark .Lists li a {
    color: #ffffff;
}
.container.light .Lists li a {
    color: #000000;
}
.container.dark .Lists li a:hover {
    background-color: #353535;
}
.container.light .Lists li a:hover {
    background-color: #c4c4c4;
}
.list{
    padding: 1rem;
}