.search {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.search form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.searchInput {
    width: 100%;
    height: 100%;
    padding: 0px 20px 0px 50px;
    font-size: 1.2rem;
    background-color: #70707050;
    border: 1px solid #4d5359;
    border-radius: 8px;
    color: #979b9e;
    outline: none;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

.searchInput:focus {
    background-color: #0303032a;
    color: white;
}
.searchIconButton {
    position: absolute;
    left: 0.25rem;
    background: none;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}