.Header{
    grid-area: head;
    background: #030303;
    border-bottom: 0.185em #1d1d1d solid;
    height:3.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
}

.Header nav{
    display: flex;
    gap: 0.25rem;
}

.Header nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    width: 5rem;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    border: 0.185rem solid transparent;
    border-radius: 1rem;
    transition: 0.3s ease;
}

.Header nav a:hover {
    background-color: #353535;
}

.Header nav a.active {
    background-color: #1d1d1d;
    border-radius: 0.6rem;
}
.verticalLine{
    border-left: 0.1rem solid #1d1d1d;
    height: 65%;
    margin: 0 1rem;
}