.Welcome{
    grid-area: main;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    user-select: none;
    transition: 0.3s ease;
}
.container.light .title{
    color: #000000;
}
.container.dark .title{
    color: #ffffff;
}