.TaskPage {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 1rem;
}

.Task {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 25rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.TaskNumber {
    font-size: 1.2rem;
    color: rgb(125, 124, 190);
    font-weight: bold;
    display: block;
}

.TaskDescription {
    font-size: 1.1rem;
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 25px;
}

.TaskStatus {
    padding: 8px 16px;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
}
.Done {
    background-color: rgba(30, 255, 0, 0.2); 
    color: #00ff00; 
}
.NotDone { 
    background-color: rgba(255, 123, 0, 0.2); 
    color: #ff6600; 
}

.TaskPage nav a {
    text-decoration: none;
    color: #888;
    font-weight: 500;
    transition: 0.3s;
    padding: 10px 20px;
    border-radius: 10px;
}

.TaskPage nav a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}