@import url('https://fonts.google.com/specimen/Roboto');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, 'Roboto';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(circle at 0% 0%, #09021b 0%, transparent 25%),
    radial-gradient(circle at 100% 0%, #09021b 0%, transparent 25%),
    radial-gradient(circle at 50% 125%, #1b0202 0%, transparent 50%);
  background-color: #030303;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "head"
        "main"
        "footer";
}